*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
    min-width: 100vw;
    padding: 1%;
    position: fixed;
    /* backdrop-filter: blur(2px solid rgba(255, 255, 255, 0)); */
}
.logo{
    font-size: xx-large;
}
.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: large;
}
.features li{
    margin: 20px;
}

.entry{

    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: x-large;
}
.entry li{
    /* color: white; */
    margin: 20px;
    white-space: nowrap;
    /* text-decoration: none; */
}
.entry li a{

    color: white;
    text-decoration: none;
    
}

.home{
    background-color: black;
    display: flex;

}

.himage{
    background-image: url(/ProForm/images/Motivational\ fitness.jpeg);
    background-repeat: no-repeat;
    /* display: flex; */
    min-width: 40vw;
    min-height: 100vh;
    /* backdrop-filter: blur(2px solid rgba(255, 255, 255, 0)); */
    
}



